body {
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-size: 40px;
	font-weight: bold;
}

thead {
	font-weight: bolder;
}

h3 {
	
	font-family: 'The Girl Next Door', cursive;
}

#nb {
	opacity: 0.4;
	
	
}

